[push]
    default = simple
[merge]
    renamelimit = 1500
[user]
    name = Bendik Solheim
    email = hello@bendik.dev
    signingkey = 1AFF39580605A629
[core]
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes_global
    quotepath = false
    precomposeunicode = false
    pager = cat
[alias]
    st = status --short --branch
    ci = commit
    co = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    recent = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/heads/ --format='%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed 's/m${cur}|/m* ${cur}|/' | column -ts'|'; }; r"
[pull]
    rebase = true
[diff]
    tool = icdiff
    compactionHeuristic = true
[difftool]
    prompt = false
[difftoool "icdiff"]
    cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[github]
    user = bendiksolheim
[commit]
    gpgsign = true
[gpg]
    program = gpg

[includeIf "gitdir:~/bekk/kunder/vegvesen/"]
    path = ~/bekk/kunder/vegvesen/.gitconfig.vegvesen
