[push]
	default = simple
[merge]
    renamelimit = 1500
[user]
	name = Bendik Solheim
	email = bendik@solheim.im
[core]
	excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes_global
	quotepath = false
	precomposeunicode = false
[alias]
	st = status --short --branch
	ci = commit
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	recent = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/heads/ --format='%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed 's/m${cur}|/m* ${cur}|/' | column -ts'|'; }; r"
    stash-all = stash save --include-untracked
[pull]
	rebase = true
[diff]
    tool = icdiff
    compactionHeuristic = true
[difftool]
    prompt = false
[difftoool "icdiff"]
    cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
